<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Yelp-Camp</h1>
            <p>Our hand picked location's from INDIA</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add CampGrounds</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-lg-4 col-md-6">
                    <div class="img-thumbnail">
                        <img src="<%= campground.image %>" class="img-fluid">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">More info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
    </div>
    
</div>

<%- include ("../partials/footer") %>